# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc

# VS Code
.vscode/

# Mac/Linux
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Temporary Files
*.tmp